---
import { getIndexPage } from "../utils/sanity";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroSlider from "../components/HeroSlider.astro";
import Info from "../components/Info.astro";
import Bento from "../components/Bento.astro";
import LogoSwipes from "../components/LogoSwipes.astro";
import Feed from "../components/Feed.astro";
import Category from "../components/Category.astro";
import Testimonial from "../components/Testimonial.astro";
import Card from "../ui/Card.astro";
import LogoSlider from "../components/LogoSlider.astro";
import Parallax from "../components/Parallax.astro";
import ContactForm from "../components/ContactForm.astro";


const page = await getIndexPage(); 
---

<Layout title="Startseite">
  <div class="wrapper">
    <main>
      {page.hero && <HeroSlider section={page.hero} />}
      <LogoSlider />
      {page.info && <Info section={page.info} />} 
      <Category />
      <div class="hidden md:block">
        <Parallax />
      </div>
      <Testimonial />
      <ContactForm />
      
      
    </main>
  </div>
</Layout>
