---
import { getIndexPage } from "../utils/sanity";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroSlider from "../components/HeroSlider.astro";
import Info from "../components/Info.astro";
import Bento from "../components/Bento.astro";
import LogoSwipes from "../components/LogoSwipes.astro";
import Feed from "../components/Feed.astro";
import Embed from "../components/Embed.astro";

const page = await getIndexPage(); 
---

<Layout title="Startseite">
  <div class="wrapper">
    <main>
      {page.hero && <HeroSlider section={page.hero} />}  
      {page.info && <Info section={page.info} />} 
      
 
    </main>
  </div>
</Layout>
