---

export const prerender = false; 

import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <div class="wrapper">
    <main class="app">
      
      <div class="hero mt-[200px]">
          <div class="hero_wrapper">
              <span>{post.excerpt}</span>
              <div class="hero_title">
                  <h1>{post.title}</h1>
              </div>
              <span>{post.excerpt}</span>
          </div>
      </div>

      {(post.postBody &&
        <div class="post-content">
          <PortableText value={post.postBody} />
        </div> || "Hello World"
      )}

  </main>
</div>

</Layout>

<style>
  h1 {
    font-size: 8vw;
    line-height: 1;
  }

  h2 {
    font-size: 40px;
  }
  
  span {
    font-size: 24px;
  }

  p {
    font-size: 22px;
    color: black;
  }
</style>
