---
import { urlFor } from "../utils/image";
import { getCategories } from "../utils/sanity";
import { getImage } from "astro:assets";


const categoriesData = await getCategories();
---

<div class="category-section container mx-auto">
  {categoriesData.map((category) => (
    <div class="category-container">    
      {category.imgUrl && <img src={urlFor(category.imgUrl).url()} alt={category.title} width="1920" height="1440" decoding="async" loading="lazy" />}
      <h3>{category?.title}</h3>
    </div>
  ))}
</div> 




<style>
  .category-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    
  }
  .category-container {
    text-align: center;
    transition: transform 0.2s ease;
    max-width: 300px;
  }

  .category-container:hover {
    transform: translateY(-5px); /* Hover-Effekt */
  }

  .category-container img {
    width: 100%;
    height: auto;
   
  }

  h3 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2.5px;
    color: #000;
    padding-top: 15px;
    padding-bottom: 25px;
  }  
</style>
