---
import Marquee from "./Marquee.astro"
import Menu from "./Menu"
import Menu2 from "./Menu2.astro"

---

  

  
 <div>
  <!-- <Marquee />  -->
  <Menu client:load/>
  

</div>
 


<style>



</style>