---
import { getHero } from "../utils/sanity";
import heroBackground from "../assets/hero-image1.jpg";
import heroBackground2 from "../assets/hero-image2.jpg";
import heroBackground3 from "../assets/hero-image3.jpg";
import { getImage } from "astro:assets";

const optimizedBackground = await getImage({src: heroBackground, format: 'avif'})
const optimizedBackground2 = await getImage({src: heroBackground2, format: 'avif'})
const optimizedBackground3 = await getImage({src: heroBackground3, format: 'avif'})

const { section } = Astro.props; 


---


<div class="hero-wrapper h-[80vh] min-w-[100vw] bg-black">
   
                <div class="hero-content container mx-auto px-[5%]">
                    <h2 transition:name="fade">{section.headline}</h2>
                    <p>{section.subheadline}</p>
                    <a href="">
                        <button class="btn">{section.cta}</button>
                    </a>
                </div>
</div>

<style>

.hero-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
    }

    .hero-content h2 {
        font-size: 5vw;
        line-height: 1.2;
    }

    .hero-content p {
        color: rgb(219, 219, 219);
        margin-bottom: 20px;
        font-size: 22px;
    }

    .hero-wrapper {
        background-image: url("/images/flachdach-hero.jpg");
        background-size: cover;
    }

   

    @media screen and (max-width: 769px) {
        .hero-content h2 {
            font-size: 8vw;
        }

        .hero-content p {
        
        font-size: 18px;
    }
    }
</style>

