---
import { getHero } from "../utils/sanity";
import { urlFor } from "../utils/image";
import heroBackground from "../assets/hero-image1.jpg";
import heroBackground2 from "../assets/hero-image2.jpg";
import heroBackground3 from "../assets/hero-image3.jpg";
import { getImage } from "astro:assets";

const optimizedBackground = await getImage({src: heroBackground, format: 'avif'})
const optimizedBackground2 = await getImage({src: heroBackground2, format: 'avif'})
const optimizedBackground3 = await getImage({src: heroBackground3, format: 'avif'})


const heroData = await getHero();
const headline = heroData?.headline || "Standard-Headline"; // Fallback
const subheadline = heroData?.subheadline || "Standart-Subheadline"; 


---
<div class="hero-wrapper h-[80vh] min-w-[100vw] bg-black">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide bg-green-500" id="slide-1">
                <div class="hero-content container mx-auto px-[5%]">
                    <h2 transition:name="fade">Sanitär – Komfort & Funktion perfekt kombiniert.</h2>
                    <p>Individuelle Sanitärlösungen für Ihr Zuhause – modern, effizient und auf höchstem Qualitätsniveau.</p>
                    <a href="/leistungen/sanitaer">
                        <button class="btn">MEHR ERFAHREN</button>
                    </a>
                </div>
            </div>
            <div class="swiper-slide bg-slate-500" id="slide-2" >
                <div class="hero-content container mx-auto px-[5%]">
                    <h2 transition:name="fade">Heizung & Lüftung – Effizient. Komfortabel. Nachhaltig.</h2>
                    <p>TOptimale Wärme und frische Luft für Ihr Zuhause – mit energieeffizienten Heizungs- und Lüftungslösungen.</p>
                    <a href="/leistungen/heizung">
                        <button class="btn">MEHR ERFAHREN</button>
                    </a>
                </div>
            </div>
            <div class="swiper-slide bg-blue-500" id="slide-3">
                <div class="hero-content container mx-auto px-[5%]">
                    <h2 transition:name="fade">Gebäudetechnik – Effizient und intelligent.</h2>
                    <p>Innovative Gebäudetechnik für nachhaltige, energieeffiziente und komfortable Lösungen in Ihrem Zuhause oder Unternehmen.</p>
                    <a href="/leistungen/gebaeudetechnik">
                        <button class="btn">MEHR ERFAHREN</button>
                    </a>
                </div>
            </div>
            <div class="swiper-slide bg-blue-500" id="slide-4">
                <div class="hero-content container mx-auto px-[5%]">
                    <h2 transition:name="fade">Flachdach & Flaschnerei – Präzision und Langlebigkeit.</h2>
                    <p>Hochwertige Flachdachlösungen und Flaschnerarbeiten für maximale Sicherheit und Haltbarkeit.</p>
                    <a href="/leistungen/flaschner">
                        <button class="btn">MEHR ERFAHREN</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> 
    </div>
</div>

<style>
    .swiper,
    .swiper-wrapper
    {
        height: 100%;
        width: 100%;
        
    }

    .swiper-slide {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 10vh;
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        background-image: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .swiper-slide::before {
        content: "";
        position: absolute;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
    }

    .hero-content h2 {
        font-size: 5vw;
        line-height: 1.2;
    }

    .hero-content p {
        color: rgb(219, 219, 219);
        margin-bottom: 20px;
        font-size: 22px;
    }

    #slide-1 {
        background-image: url("/images/hero-neu.webp");
        background-size: cover;
    }

    #slide-2 {
        background-image: url("/images/heizung-hero.jpg");
        background-size: cover;
    }

    #slide-3 {
        background-image: url("/images/technik-hero.jpg");
        background-size: cover;
    }

    #slide-4 {
        background-image: url("/images/flachdach-hero.jpg");
        background-size: cover;
    }


    @media screen and (max-width: 769px) {
        .hero-content h2 {
            font-size: 8vw;
        }

        .hero-content p {
        
        font-size: 18px;
    }
    }

    

    

   
</style>

<script src="../libs/slider_simple.js"></script>