---

import { urlFor } from "../utils/image";



const { section } = Astro.props;


---

<div class="info-container">
    <div class="content-wrapper">
        {section.infoImage && (
            <img src={urlFor(section.infoImage).url()} alt={section.headline || "Info Bild"} height="200" width="400" decoding="async" loading="lazy"/>

        )}
        <p class="text-center">
               {section.infoText}
                <br /> 
                <br />
                <b>{section.cta}</b>
        </p>
    </div>
</div>

<style>

    .info-container {
        height: 60vh;
        width: 50%;
        display: grid;
        margin: auto;
        place-items: center;
        overflow-x: hidden;
    }
    .info-container img {
        place-self: center;
        padding-bottom: 50px;
        width: 400px;
        height: auto;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: rgb(117, 117, 117);
    }

    p b{
        color: black;
        font-weight: 500;
    }

    @media screen and (max-width: 768px) {
        .info-container {
            width: 92%;
        }

        .info-container img {
            width: 300px;
            height: auto;
        }
    }

</style>