---
import { getImage } from "astro:assets";
import parallaxBackground from "../assets/flachdach-hero.jpg";

const optimizedBackground = await getImage({src: parallaxBackground, format: 'webp'})
---

<div class="wrapper">
  <div class="parallax-container container mx-auto px-[5%]" style={`background-image: url(${optimizedBackground.src});`}>
    <div class="content-wrapper">
      <div class="content">
        <h2>300</h2>
        <p>Projekte</p>
      </div>
      <div class="content">
          <h2>12</h2>
          <p>Kompetente Mitarbeiter</p>
        </div>
        <div class="content">
          <h2>35</h2>
          <p>Jahre geballte Erfahrung</p>
        </div>
        <div class="content">
          <h2>1989</h2>
          <p>Ansässig in Ertingen</p>
        </div>
    </div>
  </div>
</div>

  <style>

    .wrapper {
        margin: 0 4vw 10vh 4vw;
        z-index: 5;
    }
    .parallax-container {
  position: relative;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.parallax-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px); /* Leichter Blur-Effekt */
  z-index: 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8vw;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1; /* Content über dem Overlay */
  text-align: left;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

p{
    color: #fff;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    align-items: center;
    gap: 30px;
   
  }
}

  </style>