---


---

<section class="bg-white dark:bg-gray-900">
    <div class="container px-[5%] py-10 mx-auto">
        <h2 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white">
            Was unsere <span class="text-[#2B3B6C] ">Kunden</span> sagen
        </h2>

        <p class="max-w-2xl mx-auto mt-6 text-center text-gray-500 dark:text-gray-300">
            Erfahren Sie aus erster Hand, warum unsere Kunden uns vertrauen. Qualität, Zuverlässigkeit und fachgerechte Umsetzung stehen bei uns an erster Stelle.
        </p>

        <section class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 lg:grid-cols-2 xl:grid-cols-3">
            <div class="p-8 border rounded-lg dark:border-gray-700 h-fit">
                <p class="leading-loose text-gray-500 dark:text-gray-400">
                    “Exzellente Planung und Ausarbeitung unserer Abdichtung im Bereich einer Eckterasse, inkl. perfekte Ausarbeitung aller Blecharbeiten in diesem Bereich. Mitarbeiter stets freundlich und kompetent sowie hilfsbereit. Besser geht nicht. Herzlichen Dank. Jederzeit wieder.”.
                </p>

                <div class="flex items-center mt-8 -mx-2">
                   

                    <div class="mx-2">
                        <p class="font-semibold text-gray-800 dark:text-white">Michael</p>
                        <span class="text-sm text-gray-500">Privatperson</span>
                    </div>
                </div>
            </div>

            <div class="p-8 border rounded-lg dark:border-gray-700 h-fit">
                <p class="leading-loose text-gray-500 dark:text-gray-400">
                    “Sehr höflich, sehr schnell und setzt perfekte Prioritäten. Super Arbeit abgeliefert!
                    Unsere Kaminverwahrung war defekt, mit Wassereinbruch am Dach. Habe die Reparatur angefragt und weil gerade eine 3 tägige Regenpause vorher gesagt war, kam der Flaschner noch am selben Tag vorbei.
                    Ausgemessen, angefertigt, angebracht und penibel sauber aufgeräumt. Alles an -einem Tag-!
                    Habe und werde die Firma Reck weiter empfehlen.”.
                </p>

                <div class="flex items-center mt-8 -mx-2">
                   

                    <div class="mx-2">
                        <p class="font-semibold text-gray-800 dark:text-white">Thomas</p>
                        <span class="text-sm text-gray-500">Privatperson</span>
                    </div>
                </div>
            </div>

            <div class="p-8 border rounded-lg dark:border-gray-700 h-fit">
                <p class="leading-loose text-gray-500 dark:text-gray-400">
                    “Kompetent und zuverlässig die Nr. 1 in Riedlingen und Umgebung.”.
                </p>

                <div class="flex items-center mt-8 -mx-2">
                   

                    <div class="mx-2">
                        <p class="font-semibold text-gray-800 dark:text-white">Martin</p>
                        <span class="text-sm text-gray-500">Privatperson</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>